html {

  overflow-x: hidden;
}
  
button:hover{

  opacity: .8;
}


#centeredRow{

  display: flex;
  justify-content: center;
}


a.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}



.sticky {
  position: fixed;
  top: 0;
  
}

body {
  
    margin: 0;
    padding: 0;
    background: #f3f5f9;
    overflow-x: hidden;

}
  
section {

  position: relative;
  width: 100%;
  height: 100%;

}

section .content{

  position: relative;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
  color: white;

  
}



/* If the screen size is less than*/
@media screen and (max-width: 600px){

  section:before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    clip-path: ellipse(100% 100% at 50% 0%);
    background-image: url("assets/headermobile.png");
    background-size: cover;

  }

  #logostar{

    height: 40px;

  }

  #schoolName{

    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
  }

  #rallyName{

    font-size: 14px;
    font-weight: normal;


  }

  #slogan{

    font-size: 45px;
    font-weight: 200;
    line-height: 60px;
    font-style: normal;
    margin-bottom: 40px;
  }

  #btn{

    width: 202px;
    height: 50px;
    background: linear-gradient(94.88deg, #E95252 16.28%, #EC5582 81.93%);
    border-radius: 40px;
    color: white;
    border-style: solid;
    border-color: white;
    outline: none;
  }

  #campaignName{

    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 28px;
    margin-top: 30px;
  }

  #clockDay, #clockHour, #clockMinute{

    font-size: normal; 
    font-weight: normal; 
    font-size: 30px;
    line-height: 28px;

  }

  #clockDay{

    margin-left: 28px;
    margin-right: 30px;
  }
  #clockHour{

    margin-left: 20px;
    margin-right: 40px;

  }


  #clockMinute{
    margin-left: 10px;
    margin-right: 30px;
  }


  #day, #hour, #minute{

    font-size: normal; 
    font-weight: normal; 
    font-size: 14px;
    margin-bottom: 20px;

    
  }

  #day{

    margin-left: 50px;
    margin-right: 30px;
  }
  #hour{

    margin-left: 25px;
    margin-right: 30px;

  }


  #minute{

    margin-left: 15px;
    margin-right: 38px;
  }

  #progress{

    font-size: 22px; 
    font-weight: 200;
    margin-top: 40px;
  }

  #progressAmt{

    font-size: 45px; 
    font-weight: 200;

  }

  #progressBar{

    width: 330px;
    height: 16px;
    
  }

  #progressLabel{

    font-size: 22px;
    font-weight: 500;
    
  }

  #progressLabel2{

    font-size: 14px;
    font-weight: normal;
    
  }

  #progressMargin{

    margin-left: 185px;
  }

  #progressMargin2{

    margin-left: 140px;
  }

  #tripled{

    font-size: 22px; 
    font-weight: 200;
    margin-top: 40px;
  }

  #dbtn{

    height: 50px;
    width: 130px;
    margin-bottom: 10px;
    margin-right: 30px;
    line-height: 3px;
    border-style: solid;
    border-color: #EC5582;
    border-radius: 30px;
    background-color: white;
    outline: none;
   
  }


  #dbtnLabel{
    font-size: 16px;
    font-weight: 500;
    line-height: 10px;
    

  }

  #dbtnLabel2{
    font-size: 10px;
    font-weight: normal;
    line-height: 14px;
  }

  #dbtnBig{

    height: 50px;
    width: 284px;
    background: linear-gradient(94.88deg, #E95252 16.28%, #EC5582 81.93%);
    border-radius: 30px;
    color: white;
    margin-top: 25px;
    border-style: none;
    outline: none;
  }

  #donateBtnCol{

    width: 100%;
}

  /*NAVBAR==========================================================================================*/
  .nav-link{

    font-size: 14px;
    margin-right: -18px;
    color: white;
  }

  #abtNav{

    font-weight: bold; 
    margin-left: -15px;
  }

  #navbar{
    
    z-index: 100;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
  }


  #navbtn{

    width: 80px;
    border-radius: 30px;
    background-color: white;
    color: #EC5582;
    font-size: 14px;
    font-weight: normal;
    outline: none;
  }

  /*ABOUT SECTION ================================================================================*/
  
  #confetti{

    display: none;
  }
  #confetti2{

    display: none;
  }

  
  #confetti3{
    position: absolute;
    left: 0px;
    margin-top: 300px;
    width: 80;
    height: 300px;
  }

  #confetti4{
    position: absolute;
    right: 0px;
    margin-top: 300px;
    width: 80;
    height: 300px;
  }


  #abtTitle{
    font-size: 30px; 
    font-weight: 200; 
    margin-bottom: 50px; 
    text-align: center;
  }

  #abtText{
    font-size: 16px;
    line-height: 26px;
  }

  #abtTextBold{

    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
  }

  #more {
    display: none;
    
  }

  #moreCol{

    margin-top: -60px;
  }

  #dots {

    opacity: .3;
  }

  
#bottom_fade {
	width: 100%;
	height: 200px;
	z-index: 1;
	position: absolute;
	bottom: 50px;
  background: url("assets/bottom-fade.png");
  
}

  #readBtn{

    background-color: transparent;
    border: none;
    border-bottom-style: dashed;
    color: #005BB9;
    z-index: 5;
    outline: none;
  }


  #howitWorks{

    font-size: 16px;
  }


  #x3{

    background-image: none;
  }


  #tripled2{

    font-size: 22px;
    font-weight: normal;
    color: red;
  }

  #one3{

    color: red;
    font-size: 45px;
    font-weight: 500;


  }

  #bannerTitle{

    margin-top: 30px;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  #boldedBanner{

    font-weight: bold;
  }

  #bannerText{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    width: 90%;

  }

  /*TEAMS SECTION ================================================================================*/

  #teamTitle{

    margin-top: 50px; 
    margin-bottom: 60px; 
    font-weight: 200; 
    font-size: 30px; 
    text-align: center;
  }

  
  #teamImg{

    height: 90px;
    width: 103px;
    margin-right: 30px;
  }

  #teamName{

    font-size: 16px; 
    font-weight: 500;
  }

  #teamProgressBar{

    width: 178px;
  }

  #progressLabelTeam{

    font-size: 14px;
    font-weight: normal;
  }

  #progressLabelTeam2{

    font-size: 10px;
    font-weight: normal;
  }

  #donorLabel{

    margin-left: 45px; 
    margin-right: 40px;
  }
  #donorLabel2{

    margin-left: 10px; 
    margin-right: 30px;
  }

  #teamBtn{

    width: 178px;
    height: 32px;
    background: linear-gradient(94.88deg, #E95252 16.28%, #EC5582 81.93%);
    border-radius: 30px;
    color: white;
    border-style: solid;
    border-color: white;
    outline: none;

    margin-left: 135px;
    margin-bottom: 10px;
  }

  /*Donors Section================================================================================*/

  #donorTitle{

    margin-top: 40px; 
    margin-bottom: 30px; 
    font-weight: 200; 
    font-size: 30px; 
    line-height: 40px;
    text-align: center;
  }

  #donorText{
 
    margin-bottom: 30px;
    font-weight: normal; 
    font-size: 14px;
    text-align: center;
  }

  #donorCount,  #donorCountGoal{

    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 28px;
    margin-left: 60px 
  }

  #donorCountGoal{

    margin-left: 43px;
  }

  #donorLabel{

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-right: 50px;
  }

  #slash{

    font-weight: 200;
    font-size: 50px;
    line-height: 60px;
    margin-right: 20px;
    color: #dadae1;

  }

  #donorName{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    margin-left: 15px;
  }

  #donorAmt{

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    margin-left: 80px;
  }

  #donorCard{

    text-align: center;
    border-style: none;
    border-bottom-style: solid;
    margin-bottom: 20px;
  }

  /*Matcher section ====================================================================================*/

 
  #matcherTitle{
    
    margin-top: 50px; 
    margin-bottom: 24px; 
    font-weight: 200; 
    font-size: 30px; 
    text-align: center;
  }

  #matcherText{

    margin-top: 15px; 
    margin-bottom: 30px;
    font-weight: normal; 
    font-size: 16px;
    line-height: 26px;
  }

  #matcherCard{

    background: white; 
    text-align: center; 
    height: 128px;
    width: 160px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    justify-content: center;
  }

  #matcherLogo{

    width: 35px; 
    height: 31px;
  }

  #cardText{

    font-size: 14px; 
    font-weight: normal;
    line-height: 18px;
  }

  #alsoText{
    font-size: 22px; 
    font-weight: 200; 
    line-height: 30px;
    border-bottom: solid; 
    border-color:  #E95252; 
    margin-top: 50px; 
    padding-bottom: 40px; 
    margin-bottom: 40px;
  }

  #funds{
    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }


  /*Footer Section====================================================================================*/

  #footerImg{

    width: 174px; 
    height: 60px; 
    margin-bottom: 30px; 
    margin-top: 50px;
  }

  #backtoTop{

    background-color: transparent;
    border: none;
    position: absolute;
    right: 5px;
    margin-top: -15px;
    outline: none;

  }

  #backtoTop2{

    display: none;

  }





  


}


