<div class="countdown-container" style="color:black">
    <h6 class="countdown-header" id="campaignName">CAMPAIGN ENDS IN:</h6>
    <div class="row" id="centeredRow">

        <div class="col-xs-4" style="margin-right:20px; margin-left: 10px">
            <h3 class="countdown">00</h3>
            <h6 class="countdown-unit">days</h6>
        </div>

        <div class="col-xs-4">
            <h3 class="countdown">00</h3>
            <h6 class="countdown-unit">hours</h6>
        </div>


        <div class="col-xs-4" style="margin-left: 15px">
            <h3 class="countdown">00</h3>
            <h6 class="countdown-unit">minutes</h6>
        </div>
    </div>
</div>