<div class="countdown-container">
    <h6 class="countdown-header">CAMPAIGN ENDS IN:</h6>
    <div class="row" id="centeredRow">
        <div class="col-xs-4">
            <h3 class="countdown" id="clockDay">00</h3>
        </div>

        <div class="col-xs-4">
            <h3 class="countdown" id="clockHour">00</h3>
        </div>

        <div class="col-xs-4">
            <h3 class="countdown" id="clockMinute">00</h3>
        </div>
    </div>

    <div class="row" id="centeredRow">
        <div class="col-xs-4">
            <h6 class="countdown-unit" id="day">days</h6>
        </div>

        <div class="col-xs-4">
            <h6 class="countdown-unit" id="hour">hours</h6>
        </div>

        <div class="col-xs-4">
            <h6 class="countdown-unit" id="minute">minutes</h6>
        </div>
    </div>
</div>