{% assign pageControllerDowncased = Page.Controller | downcase -%}
{%assign pageTitleDowncased = Page.Action | downcase -%}

{% if pageControllerDowncased != "donate" and pageControllerDowncased != "p/donors" and pageControllerDowncased != "home" %}
<div style = "display: none">
    {% endif %}
{% if pageControllerDowncased != 'mypage' %}
<section class="desktop-hidden">
    <div class="container-fluid">
        <div class="content">


            <img class="logo" src="https://charity.studio/wp-content/uploads/2020/08/logo-star-1.png" style="margin-top: 40px; visibility: hidden"/>
            <h6 class="title" style="visibility: hidden">
                Farber Hebrew Day School
            </h6>
            <h8 class="title-2" style="visibility: hidden">CHARITY RALLY</h8>
            <h1 class="slogan" style="visibility: hidden">Live, Learn, Lead!</h1>
            {% if pageControllerDowncased <> 'home'  %}
                <div style="visibility: hidden">
                {% endif %}
                <a href="{{ campaign.url }}/donate">
                    <button class="btn" type="input">DONATE</button>
                </a>

                {%Widget countdown%}



            </div>
        </div>
    </section>
    {% endif %}
</div>


    {% if pageControllerDowncased == 'donate' %}

    <div class = "container" style = "justify-content: left; text-align: left; margin-left: 10px">
    <a href="{{ campaign.url }}/">
        <button style = "outline: none; box-shadow: none;background-color: transparent; justify-content: center; border: none;">
            <img src="https://www.friendshipcircle.org/wp-content/uploads/endofyear/back.png" style = "vertical-align: middle; margin-bottom: 7px"/>
            <span style="font-size: 20px; color: #c1c1bf ">Back to Campaign</span>

        </button>
    </a>
</div>

{% endif %}
