{% assign pageControllerDowncased = Page.Controller | downcase -%}


<section class="desktop-hidden" style=" background-image:url({{ Campaign | first_image: 'MobileLogo', 1400, 700 }})">
    <div class="container-fluid">
        <div class="content">


            <img class="logo" src="https://charity.studio/wp-content/uploads/2020/08/logo-star-1.png" style="margin-top: 40px; visibility: hidden"/>
            <h6 class="title" style="visibility: hidden">
                Farber Hebrew Day School
            </h6>
            <h8 class="title-2" style="visibility: hidden">CHARITY RALLY</h8>
            <h1 class="slogan" style="visibility: hidden">Live, Learn, Lead!</h1>
            {% if pageControllerDowncased <> 'home' %}
                <div style="visibility: hidden">
                {% endif %}
                <a href="{{ campaign.url }}/donate">
                    <button class="btn" type="input">DONATE</button>
                </a>

                {%Widget countdown%}



            </div>
        </div>
    </section> 

    {% if pageControllerDowncased == 'donate' %}

    <div class = "container" style = "justify-content: left; text-align: left; margin-left: 10px">
    <a href="{{ campaign.url }}/">
        <button style = "background-color: transparent; justify-content: center; border: none;">
            <img src="https://www.friendshipcircle.org/wp-content/uploads/endofyear/back.png" style = "vertical-align: middle; margin-bottom: 7px"/>
            <span style="font-size: 20px; color: #c1c1bf ">Back to Campaign</span>
     
        </button>
    </a>
</div>


{% endif %}
