{% assign donor_campaigns = campaign | donor_campaigns -%} {% assign
sponsorLevel = campaign | sponsor_levels | first %} {% assign sponsors =
sponsorLevel.sponsors %}

<div class="container-fluid" style="padding-bottom: 80px">
  <a class="anchor" id="matchers"></a>
  <div class="row" id="centeredRow">
    <h3 id="matcherTitle">Thank You Matchers!</h3>
  </div>

  <div class="row" id="centeredRow">
    <div class="matcherRows">
      <p>
        {{ campaign | term_by_name: "Cstm8" }}
      </p>
    </div>
  </div>

  <div
    class="row"
    style="text-align: center; justify-content: center; margin-top: 40px"
  >
    <div
      class="row"
      id="centeredRow"
      style="max-width: 1000px; text-align: center"
    >
      {% for sponsor in sponsors %}

      <div class="col-xs-3">
        <div
          class="card"
          id="matcherCard"
          style="margin-bottom: 20px; pointer-events: none"
        >
          <div class="img-wrapper" style="text-align: center">
            <img
              id="matcherLogo"
              src="{{ Campaign | first_image: 'Usertouserimages', 100, 216 }}"
            />
          </div>
          <h6 id="cardTxt">{{ sponsor.Name }}</h6>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>
