{% assign percent = campaign.Amount_Raised | divided_by: campaign.Goal_Amount | times: 100 | round -%}

<div class="col-lg-6">
  <div class="row" id="centeredRow" style = "margin-top: 40px">
    <h4 id="progress" >Campaign Progress:</h4>
  </div>
  <div class="row" id="centeredRow" style="margin-top: 15px">
    <h2 class ="progressAmt">{{campaign.Amount_Raised | money}}</h2>
  </div>
  <div class="row" id="centeredRow" style="margin-top: 15px">
    <progress id="progressBar" max="100">0%</progress>
  </div>
  <div class="row" id="centeredRow" style="margin-top: 15px">
    <h4 class = "progress-percent progressLabel">
      {{percent}}%<span class ="progressMargin">{{campaign.Goal_Amount | money}}</span>
    </h4>
  </div>
  <div class="row" id="centeredRow">
    <h4 class ="progressLabel2">
      COMPLETE<span class ="progressMargin2">CAMPAIGN GOAL</span>
    </h4>
  </div>
</div>
